#heading {
	background-color: #c97124;
}

body {
	/*background-image: url("images/backgroundimage.jpg");*/
	background-size:100%;
	font: #000;

}

#instructions {
	height:300px;
	width:400px;
	background-color: #ed8;
	font: white; 
	text-align: center;

}

.click {
	height: 200px;
	width: 200px;
}
